storage: /verdaccio/storage

auth:
  htpasswd:
    file: /verdaccio/htpasswd
    max_users: -1
    algorithm: bcrypt

uplinks:
  npmjs:
    url: https://registry.npmjs.org/

packages:
  '@spartacus/*':
    access: $all
    publish: $all
    unpublish: $all
    proxy: npmjs
  
  '**':
    access: $all
    publish: $all
    unpublish: $all
    proxy: npmjs

logs:
  - { type: stdout, format: pretty, level: http }

listen: 0.0.0.0:4873

max_body_size: 100mb
